body{
  background-image: url("");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: black; opacity: 0.8;
  color: white;
  width: 40%;
  border-radius: 20%;
  justify-content: center;
  text-align: center;
  margin-top: 15%;
  margin-left: 30%;
  padding: 20px;
}
.responsebox{
  text-align: left;
  margin-left: 10%;
  padding-top: 10px;
  display: flex;
}
.sunset{
  margin-left: 100px;
}
.localtime{
  padding-top: 70px;
}
.city{
  padding-bottom: 10px;
}
.region{
  margin-right: 195px;
  padding-top: 15px;
}
.country{
  margin-right: 150px;
  padding-top: 15px;
}
.timezone{
  margin-right: 155px;
  padding-top: 15px;
}
.inputsearch{
  height: 25px;
  width: 200px
  color:black;
  }
button{
  width: 65px;
  height: 25px;
  margin-left: 10px;

}
.footer{
  position: absolute;
  bottom: 4%;
  left: 45%;
  padding: 10px;
}
.footer i{
  padding-left: 15px;
  font-size: 30px;
}
.footer i:hover{
  color: blue;
}
.insta{
  color: black;
}
.insta i:hover{
  color: red;
}
.facebook{
  color: black;
}
.middetails{
  text-align: left;
  margin-left: 40px;
}
@media only screen and (max-width: 600px) {
  .container{
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .insta{
    color:red;
  }
  .facebook{
    color: blue;
  }
  .footer{
    position: absolute;
    bottom: 1%;
    left: 35%;
    padding-top: 10px;
    text-align: center;

  }
}
